*,
*::before,
*::after {
  box-sizing: border-box;
}

#gallery {
  padding: 0;
  margin-left: 10px;
  display: flex;
  list-style: none;
}

.img {
  width: 250px;
  height: 150px;
  margin-right: 10px;
}
